@model SpecialityFormVM

@{

    ViewData["Title"] = "Edit Speciality";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Edit Speciality</h2>
            <hr />
            <form asp-action="Edit" method="post">
                <div class="form-floating my-4">
                    <input asp-for="Name" class="form-control" placeholder="" />
                    <label asp-for="Name"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Save Changes</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}