@model AssignDocVM

@{

    ViewData["Title"] = "Assign Doctor";
}

@section Styles {
    @* Links for Select2 Package *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
}


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Assign Doctor</h2>
            <hr />
            <form asp-action="Assign" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ReceptionistId" />
                <div class="mb-4">
                    <select asp-for="SelectedDoctor"
                            asp-items="Model.Doctors"
                            class="form-select select2">
                        <option value="">Select Doctor</option>
                    </select>
                    <span asp-validation-for="SelectedDoctor" class="text-danger d-block"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Save Changes</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    @* Initialize select2 package *@
    <script>
        $(document).ready(function () {
        $('.select2').select2({
        placeholder: "Select doctor",
        allowClear: true,
        width: '75%'
        });
        });
    </script>
}